Hello {{ params.user.first_name }},

This is your login: {{ params.user.first_name }}.{{ params.user.last_name }}
This is your password: {{ params.user.password }}

--
Best regards,
{{ params.sender.first_name }} {{ params.sender.last_name }}
